# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by the Operating System
.DS_Store

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog
build.zip

# Test related files
coverage/
lib/dev_env.dart

# environment configuration
.env
service-account.json
lib/main.dart
templates/
deploy.sh